<section>
	<form [formGroup]="resetForm" class="container" (ngSubmit)="onSubmit()">
		<h2>Insert the OTP code found in the email you just received</h2>
		<div class="inputbox otp">
			<input type="text" id="otp" name="otp" required placeholder="" formControlName="otp">
			<label for="otp">OTP code</label>
			<div class="alert" *ngIf="resetForm.get('otp')?.hasError('pattern')">
				Invalid OTP
			</div>
		</div>
		<div class="inputbox">
			<div class="password-container">
				<input type="{{ isNewPasswordVisible ? 'text' : 'password' }}" id="newPassword" required placeholder="" formControlName="newPassword">
				<span class="bi" [ngClass]="{'bi-eye': !isNewPasswordVisible, 'bi-eye-slash': isNewPasswordVisible}" (click)="toggleNewPasswordVisibility()"></span>
			</div>
			<label for="newPassword">New password</label>
			<div class="alert" *ngIf="(resetForm.get('newPassword')?.hasError('pattern')) || (resetForm.get('newPassword')?.hasError('minlength'))">
				Password must contain at least one capital letter. <br>
				Password must be long at least 8 characters. <br>
				Password must contain at least one number and one special character.
			</div>
		</div>
		<div class="inputbox">
			<div class="password-container">
				<input type="{{ isConfirmPasswordVisible ? 'text' : 'password' }}" id="confirmPassword" required placeholder="" formControlName="confirmPassword">
				<span class="bi" [ngClass]="{'bi-eye': !isConfirmPasswordVisible, 'bi-eye-slash': isConfirmPasswordVisible}" (click)="toggleConfirmPasswordVisibility()"></span>
			</div>
			<label for="confirmPassword">Confirm password</label>
			<div class="alert" *ngIf="resetForm.get('confirmPassword')?.value !== resetForm.get('newPassword')?.value">
				Password does not match
			</div>
		</div>
		<div class="resend-email">
			<a [class.email.sent]="emailSent" (click)="resendEmail()" [class.clicked]="emailSent">Resend email</a>
			<label *ngIf="emailSent">Email sent</label>
		</div>
		<button type="submit" [disabled]="resetForm.invalid">Reset password</button>
		<div class="inputbox error">
			<div class="error-message" *ngIf="showError">
				{{ errorMessage }}
			</div>
		</div>
	</form>
</section>
