<section>
	<form [formGroup]="emailForm" class="container" (ngSubmit)="onSubmit()">
		<h2>Insert your email</h2>
		<p>We will send a code to the following address in order to let you reset the password</p>
		<div class="inputbox">
			<input type="email" id =email required placeholder="" formControlName="email">
			<div class="alert" *ngIf="emailForm.get('email')?.hasError('pattern')">
				Please insert a valid email address
			</div>
		</div>
		<button type="submit" [disabled]="emailForm.invalid" (click)="ResetPassword()">
			Send OTP code
		</button>
		<div class="inputbox error">
			<div class="error-message" *ngIf="showError">
				{{ errorMessage }}
			</div>
		</div>
	</form>
</section>
