section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    background: url('/assets/background.jpeg')no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 90%;
    max-width: 400px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 1.5em;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.inputbox {
    text-align: center;
    margin: 10px;
}

input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    text-align: center;
    border-bottom: 2px solid white;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    max-width: 100%;
    font-size: small;
}

.alert {
    color: red;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
}

.error-message {
    color:red;
    text-align: center;
    border: none;
}

.inputbox.error {
    border: none;
}
