footer {
    display: flex;
	height: 10%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
	background-color:#FAF9F9;
    color: black;
    font-size: 25px;
	margin: 0!important;
    padding-left: 20px;
}

@media (max-width: 768px) {
    footer, span {
        align-items: flex-start;
        font-size: 18px;
    }
}
