<section>
    <div class="overlay-container">
        <div class="overlay-block" id="block1">
            <i class="bi bi-globe2"></i>
            <h3>Join events</h3>
            <p>Search and partecipate in events created by other people</p>
        </div>
        <div class="overlay-block" id="block2">
            <i class="bi bi-tools"></i>
            <h3>Create your own events</h3>
            <p>Create a new personalised public event for your friends or strangers</p>
        </div>
        <div class="overlay-block" id="block3">
            <i class="bi bi-person-arms-up"></i><i class="bi bi-person-arms-up"></i><i class="bi bi-person-arms-up"></i>
            <h3>Meet new people</h3>
            <p>Meet up with the other partecipants and have fun with your old and new friends</p>
        </div>
    </div>
</section>
