section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
	backdrop-filter: blur(30px);
	background: #e3e0e0;
	background-size: 100% 100%;
	background-position: center;
}

a {
	padding: 0;
}

	.filter-icon {
		color: #FF6700;
		transform: scale(1.5);
		padding-top: 0;
	}

	.icon {
		padding-top: 13px;
		height: fit-content;
	}

.swiper {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 80%;
	margin-bottom: 20px;
}

.slide {
	width: 600px;
	margin-left: 5%;
	top: 15%;
}

.blank-card {
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 768px) {

	.filter-icon {
		transform: scale(1.2);
		margin: 0;
	}

	.slide {
		width: 350px;
		margin-top: 20px;
		top: 0;
	}
}